<header>
  <!-- Nav Bar -->
  <nav id="navbar" style="background-color:#8a2488;"
        class="navbar navbar-light navbar-expand-sm {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}" role="navigation">
    <div class="container d-flex justify-content-between align-items-center">
      
      <!-- Your Name on the left -->
      <a class="navbar-brand title font-weight-bold" href="{{ site.baseurl }}/" style="color: white;>
        {{ site.first_name }}{% if site.middle_name %} {{ site.middle_name }}{% endif %} {{ site.last_name }}
      </a>

      <!-- Social Icons on the right -->
      {% if site.enable_navbar_social %}
        <div class="navbar-brand social" style="color: white;">
          {% include social.liquid %}
        </div>
      {% endif %}

      <!-- Navbar Toggle (optional, only needed for small screens) -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      
    </div>
  </nav>

  {% if site.enable_progressbar %}
    <!-- Scrolling Progress Bar -->
    <progress id="progress" value="0">
      <div class="progress-container">
        <span class="progress-bar"></span>
      </div>
    </progress>
  {% endif %}
</header>
